<div class="sharePage" ng-show="page.activityPanelKey" >
  <div class="shareTable" >
    <font style="font-size:50px;border-bottom :2px solid white;padding-bottom:2%;">Etkinlik</font></br></br></br>
    <div class="field">
      <div class="shareType ui fluid selection dropdown labeled icon button">
        <i class="shareTPI activity info icon"></i>
        <span id="shareType" class="activity text">Paylaşım Kitlesini Seç...</span>
        <div class="menu" style="max-height:200px;height:200px;">
          <div class="item">Arkadaşlar Arası Paylaş</div>
          <div class="item">Bölüm İçi Paylaş</div>
          <div class="item">Fakülte İçi Paylaş</div>
          <div class="item">Üniversite İçi Paylaş</div>
        </div>
      </div></br>
      <label>Etinlik Adı :</label>
      <textarea  id="shareTextActivity" class="shareText" rows="1" cols="45" placeholder="Etkinlik adını gir.."></textarea>
      <label>Etinlik Tarihi :</label>
      <input id="datepicker" type="text" required/>
      <label>Etinlik Yeri :</label>
      <input id="yer" type="text">
    </div>
    <button class="shareButton blue fluid ui button" ng-click="page.CreateActivityShare()">Etkinlik Oluştur</button>
    <button class="shareBackButton fluid ui button" ng-click="page.CloseActivityPage()">İptal</button>
  </div>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script>
  //$( "#datepicker" ).datepicker();

  $(document).ready(function(){ $("#datepicker").datepicker(); });

  $('.ui.dropdown').dropdown({
  onChange: function() {
   if($('.activity.text').text()[0] == "A")
   {
     $('.shareTPI').addClass('users');
     $('.shareTPI').removeClass('info');
     $('.shareTPI').removeClass('building');
     $('.shareTPI').removeClass('world');
     $('.shareTPI').removeClass('university');
   }
   else if($('.activity.text').text()[0] == 'B')
   {
     $('.shareTPI').addClass('building');
     $('.shareTPI').removeClass('info');
     $('.shareTPI').removeClass('users');
     $('.shareTPI').removeClass('world');
     $('.shareTPI').removeClass('university');
   }
   else if($('.activity.text').text()[0] == 'F')
   {
     $('.shareTPI').addClass('university');
     $('.shareTPI').removeClass('info');
     $('.shareTPI').removeClass('building');
     $('.shareTPI').removeClass('users');
     $('.shareTPI').removeClass('world');
   }
   else if($('.activity.text').text()[0] == 'Ü')
   {
     $('.shareTPI').addClass('world');
     $('.shareTPI').removeClass('info');
     $('.shareTPI').removeClass('building');
     $('.shareTPI').removeClass('users');
     $('.shareTPI').removeClass('university');
   }
  }
  });
  </script>
</div>
