<div class="newsTable">
  <div class="newsHeader">
    <i id="newsHeaderIcon" class="big blue comment icon"></i>
    <font id="newsHeaderFont" >Düşünce</font>
    <i id="newsHeaderStatusIcon" class="big building icon"></i>
  </div>
  <img class="newProfImg" src="img/prof.jpg"></img>
  <div class="newsBody">
    <font>{{new.data.bodyText}}</font>
  </div>
  <div class="newsFooter">
    <div class="newsInfo">
      <div class="newsLike">
        <i class="eye large icon"></i>
        <font id="viewCount">{{new.data.viewCount}} &nbsp</font>
        <i class="thumbs outline up large icon"></i>
        <font id="likeCount">{{new.data.likeCount}}</font>
      </div>
      <div class="newsDate">{{new.data.date | date:'MM/dd/yyyy'}}</br>{{new.data.date | date:'HH:mm'}}</div>
    </div>
    <div id="newsFooterBtns" class="ui fluid buttons">
      <button class="ui button" ng-click="new.like()">
        <span ng-show="!new.isLike">Beğen</span>
        <span ng-show="new.isLike">vazgeç</span>
      </button>
      <button class="ui button" ng-click="page.OpenYorumPage(new.data._id)" >Yorum Yap</button>
    </div>
  </div>
</div>
