<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,  width=device-width,height=device-height">
    <title>SocialUni</title>

    <link rel="manifest" href="manifest.json">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/page.css" rel="stylesheet">
    <link href="css/news.css" rel="stylesheet">
    <link href="css/profilePage.css" rel="stylesheet">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>


    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>

    <script type="text/javascript" src="js/controller.js"></script>

    </head>
  <body ng-app="myApp">
      <div id="message" class="ui floating fluid message"  ng-controller="MessageController as message" ng-show="message.active">
        <i class="close icon" ng-click="message.close()"></i>
        <div class="header">{{message.data.head}}</div>
        {{message.data.body}}
      </div>
      <div class="backgroundColor red"></div>
      <img class="background" src="img/background.jpg"></img>
      <div id="loaderIcon">
        <i  class="spinner massive loading icon"></i>
      </div>
      <div class="page default" ng-init="page.initFunction()" ng-controller="PageController as page" >
          <div class="leftMenu">
            <div class ="menuButtonList">
              <br>
              <font class="menuText">SocialUni</font>
              <img class="menuImage" src="img/Bileciklogo.png"></img>
              <div class="menuSeparator"></div>
              <div class="menuButton">Mesajlar</div>
              <div class="menuButton">Profil Ayarı</div>
              <div class="menuButton">Puanımı gör</div>
              <div class="menuSeparator"></div>
              <div class="menuButton">Uygulama Bilgisi</div>
              <div class="menuButton" onclick="setWindowLocate('index.html')">Çıkış</div>
              <div class="menuButton Back" ng-click="page.CloseLeftMenu()"><i class="white remove icon"></i></div>
            </div>
          </div>
          <div class="rightMenu">
            <div class ="menuButtonList">
              <br>
              <font class="menuText">SocialUni</font>
              <img class="menuImage" src="img/Bileciklogo.png"></img>
              <div class="menuSeparator"></div>
              <div class="menuButton">Düşünceni Paylaş</div>
              <div class="menuButton">Etkinlik Oluştur</div>
              <div class="menuButton">Paylaşımları Süz</div>
              <div class="menuSeparator"></div>
              <div class="menuButton">Uygulama Bilgisi</div>
              <div class="menuButton" onclick="setWindowLocate('index.html')">Çıkış</div>
              <div class="menuButton Back" ng-click="page.CloseRightMenu()"><i class="white remove icon"></i></div>
            </div>
          </div>
        <div class="pageHeader">
          <div class="headerBackground transparent"></div>
          <div class="topButton left" ng-show="page.btn1" ng-click="page.btn1function()"><i id="pbtn1" class="align justify large icon"></i></div>
          <div class="topButton right" ng-show="page.btn2" ng-click="page.btn2function()"><i id="pbtn2" class="photo gray large icon"></i></div>
          <font class="headerFont">{{page.header}}</font>
        </div>
        <div id="pageSection1">
          <div id="refleshButton">
            <i  class="large undo icon"></i>
          </div>
          <div id="scrolltable" class="scrollTable" ng-controller="newsController as news">
            <news-text-table></news-text-table>
            <news-photo-table></news-photo-table>
            <news-text-table></news-text-table>
            <news-activity-table></news-activity-table>
          </div>
        </div>
        <div id="pageSection2" ng-controller="ProfileController as profile">
          <img ng-src="{{profile.data.img}}"class="profilImageTable"></img>
          <div class="profileInfo">
            <ul style="list-style-type: none">
              <li><h1><font  class="infoText">{{ profile.data.name }}&nbsp&nbsp{{ profile.data.surname }}</font></h1></li>
              <li></br></li>
              <li><h4><font class="infoText">{{profile.data.fakulte}}</font></h4></li>
              <li><h6><font class="infoText">{{profile.data.bolum}}</font></h6></li>
              <li><h6><font style="font-size:20px;" class="infoText">{{profile.data.durum}}</font></h3></li>
            </ul>
          </div>
          <img ng-src="{{profile.data.kimg}}" class="cover image">
            <div class="cover filter"></div>
          </img>
        </div>
        <div id="pageSection3">
          <div id="refleshButton">
            <i  class="large undo icon"></i>
          </div>
          <div class="scrollTable">
            <div class="friendTable">
              <img class="ftPhoto" src="img/prof.jpg"></img>
              <div class="ftInfo">Efecan Altay</br></br>Bilgisayar müh.</div>
            </div>
            <div class="friendTable">
              <img class="ftPhoto" src="img/ic_launcher.png"></img>
              <div class="ftInfo">Android</br></br>Sistem müh.</div>
            </div>
            <div class="friendTable">
              <img class="ftPhoto" src="img/prof.jpg"></img>
              <div class="ftInfo">Efecan Altay</br></br>Bilgisayar müh.</div>
            </div>
            <div class="friendTable">
              <img class="ftPhoto" src="img/ic_launcher.png"></img>
              <div class="ftInfo">Android</br></br>Sistem müh.</div>
            </div>
            <div class="friendTable">
              <img class="ftPhoto" src="img/prof.jpg"></img>
              <div class="ftInfo">Efecan Altay</br></br>Bilgisayar müh.</div>
            </div>
            <div class="friendTable">
              <img class="ftPhoto" src="img/ic_launcher.png"></img>
              <div class="ftInfo">Android</br></br>Sistem müh.</div>
            </div>
            <div class="friendTable">
              <img class="ftPhoto" src="img/prof.jpg"></img>
              <div class="ftInfo">Efecan Altay</br></br>Bilgisayar müh.</div>
            </div>
            <div class="friendTable">
              <img class="ftPhoto" src="img/prof.jpg"></img>
              <div class="ftInfo">Efecan Altay</br></br>Bilgisayar müh.</div>
            </div>
            <div class="friendTable">
              <img class="ftPhoto" src="img/prof.jpg"></img>
              <div class="ftInfo">Efecan Altay</br></br>Bilgisayar müh.</div>
            </div>
          </div>
        </div>
        <div class="yorumPanel" ng-show="page.yorumPanelKey" >
          <div class="yorumPanelHeader">
            <i id="yorumHeaderIcon" class="big blue icon" ng-class="page.yorumPanelData.yorumIcon[page.yorumPanelData.yorumIconIndex]"></i>
            <div id="yorumHeaderText" Align="center"><font>{{page.yorumPanelData.yorumHeader}}</font></div>
            <i id="yorumStatus" class="big icon" ng-class="page.yorumPanelData.yorumStatus[page.yorumPanelData.yorumStatusIndex]"></i>
          </div>
          <div class="scrollTable yorum">
            <div class="friendTable">
              <img class="ftPhoto" src="img/prof.jpg"></img>
              <div class="ftInfo">Efecan Altay</br></br>Bilgisayar müh.</div>
            </div>
          </div>
          <div class="yorumPanelFooter">
            <div class="ui fluid  action input">
              <input type="text" placeholder="Yorum yap">
              <div class="ui green button">Gönder</div>
            </div></br>
            <button class="ui fluid button" ng-click="page.closeYorumPage()">Geri</button>
          </div>
        </div>
        <div class="bottomMenu" >
          <div class="bottomMenuBackground"></div>
          <div class="selectIcon home" ng-click="page.setTab(1)" ><i class="home blue large icon" ></i></div>
          <div class="selectIcon profile active" ng-click="page.setTab(2)"><i class="user blue large icon"  ></i></div>
          <div class="selectIcon friends" ng-click="page.setTab(3)"><i class="users blue large icon" ></i></div>
        </div>
      </div>
  </body>
</html>
